@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
 

#bigDiv{
   
height: 100%;

}

#titleDiv{
    
    margin: 0 auto;
    border-radius: 50%;
    width: 50%;
    background-image: linear-gradient(rgb(108, 140, 215) , white,rgb(153,232,197));
    text-align: center;
}

#title{
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
}

#theCalculator{
    padding-top: 10px;
    border-radius: 15px;
    border-color: black;
    border-width: 500px;
    background-image: linear-gradient(25deg, white, gray, white);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 10px;
    max-width: 400px;
    min-width: 278px;
    height: 500px;
    margin: 25px auto;
    border: 2px solid
    
    
}

#buttons{
    font-size: 45px;
    padding : 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
}

#screen{ 
    border-width: 2px;
    border-radius: 5px;
    background-color: cornsilk;
    margin: 5px 17px;
    border: thin solid;
    max-width: 366px;
    overflow: hidden;
    height: 125;
}

#equation{
    height: 36px;
    max-width: 300px;
    font-family: 'Orbitron', sans-serif;
    margin:5;
    font-size: 25px;
    padding :5px 0 0 10px;
    
}

#result{
    height: 50px;
    border-width: 5px;
    margin: 10;
    text-align: end;
    padding: 10px;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}

.button{
    background-image: linear-gradient(25deg, rgb(109, 109, 201), rgb(215, 228, 215));
    font-size: 35;
    height: 100%;
    width: 100%;
    border-width: 2px;
    border-color: rgb(125, 138, 150);
    border-radius: 15px;
    
}

:hover {
    background-color: darkkhaki;
}

#operate{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 5;
    background-image: linear-gradient(white, rgb(90, 189, 90));
}

#erase{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:5;
    grid-column-end: 6;
}

