@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


#bigDiv{
   
height: 100%;

}

#titleDiv{
    
    margin: 0 auto;
    border-radius: 50%;
    width: 50%;
    background-image: linear-gradient(rgb(108, 140, 215) , white,rgb(153,232,197));
    text-align: center;
}

#title{
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
}

#theCalculator{
    padding-top: 10px;
    border-radius: 15px;
    border-color: black;
    border-width: thin;
    background-image: linear-gradient(25deg, white, gray);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 10px;
    max-width: 400px;
    height: 500px;
    margin: 25px auto;
    
    
}

#buttons{
    font-size: 45px;
    padding : 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
}

#screen{ 
    
        border-radius: 5px;
      background-color: cornsilk;
      margin: 5px 17px;
}

#equation{
    height: 36px;
    max-width: 300px;
    font-family: 'Orbitron', sans-serif;
    margin:5;
    font-size: 25px;
    padding :5px 0 0 10px
}

#result{
    height: 50px;
    border-width: 5px;
    margin: 10;
    text-align: end;
    padding: 10px;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}

.button{
    background-image: linear-gradient(25deg, rgb(109, 109, 201), rgb(215, 228, 215));
    font-size: 35;
    height: 100%;
    width: 100%;
    
}

:hover {
    background-color: darkkhaki;
}